.dashboard-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  height: 100vh;
  background-color: #f9fafb;
}

.sidebar {
  color: #fff;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  flex-shrink: 0;
}

.content-area {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  background-color: #fcfcfc;
  border: 1px solid #bbbbbb;
}

.currency-text {
  font-family: Graphik, sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #1d2939;
}
.dashboard-title {
  font-weight: 500;
  font-size: 16px;
  font-style: medium;
  color: #1d2939;
}
